<div class="breadcrum">
  <div class="d-flex text-light">
    <a href="" class="text-light">Home</a>
    <span class="ms-3"><i class="fa fa-arrow-right"></i></span>
    <p class="ms-3">{{title}}</p>
  </div>
</div>