<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-home"></i>
    <span class="float-end">Home</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-question-circle"></i>
    <span class="float-end">Enquiry</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-phone"></i>
    <span class="float-end">Contact US</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-calendar"></i>
    <span class="float-end">Events</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-thumbs-up"></i>
    <span class="float-end">Features</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-building"></i>
    <span class="float-end">Department</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-users"></i>
    <span class="float-end">Team</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-star"></i>
    <span class="float-end">Testimonial</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-image"></i>
    <span class="float-end">Gallery</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-question"></i>
    <span class="float-end">Faq</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-user"></i>
    <span class="float-end">User</span></a>
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true mb-1"><i class="fa fa-gear"></i>
    <span class="float-end">Settings</span></a>
</div>